@theme {
  --color-accent: hsla(15, 93%, 61%, 1);
  --color-outline: #D0D4D9;

  --color-text-primary: #192532;
  --color-text-primary-inverse: #FFFFFF;
  --color-text-secondary: hsla(0, 0%, 27%, 0.6);
  --color-text-secondary-inverse: hsla(0, 0%, 100%, 0.8);
  --color-text-tertiary: hsla(211, 33%, 15%, 1);
  --color-text-tertiary-inverse: hsla(0, 0%, 100%, 0.6);

  --color-surface-primary: hsla(213, 53%, 97%, 1);
  --color-surface-primary-inverse: hsla(211, 34%, 15%, 1);
  --color-surface-secondary: hsla(213, 47%, 93%, 1);
  --color-surface-secondary-inverse: hsla(240, 3%, 20%, 1);
  --color-surface-blur: hsla(240, 3%, 15%, 0.75);

  --color-input-surface: hsla(0, 0%, 93%, 1);
  --color-input-outline: hsla(0, 0%, 93%, 1);
  --color-input-outline-inverse: hsla(0, 0%, 100%, 0.2);
  --color-input-surface-focus: hsla(0, 0%, 96%, 1);
  --color-input-outline-focus: hsla(0, 1%, 72%, 1);
  --color-input-surface-focus-inverse: hsla(0, 0%, 100%, 0.4);

  --color-button-surface-primary: hsla(15, 93%, 61%, 1);
  /* --color-button-surface-primary-inverse: hsla(0, 0%, 100%, 1); */
  --color-button-surface-accent: hsla(15, 93%, 61%, 1);
  /* --color-button-surface-accent-inverse: hsla(54, 99%, 51%, 1); */
  --color-button-border: hsla(15, 93%, 61%, 1);
  --color-button-border-inverse: hsla(0, 0%, 100%, 0.3);

  --color-mobile-menu-surface: var(--color-surface-primary);
  --color-mobile-menu-text: var(--color-text-primary);

  --color-toast-surface: hsla(213, 47%, 93%, 1);
  --color-toast-text: var(--color-text-primary);
  --color-toast-success-text: var(--color-text-primary-inverse);
  --color-toast-success-bg: hsla(124, 37%, 53%, 1);
  --color-toast-success-border: hsla(124, 37%, 53%, 1);
  --color-toast-error-text: var(--color-text-primary-inverse);
  --color-toast-error-bg: hsla(0, 99%, 70%, 1);
  --color-toast-error-border: hsla(0, 99%, 70%, 1);

  --color-promo-surface: var(--color-surface-secondary);
  --color-promo-text-primary: var(--color-text-primary);
  --color-promo-text-secondary: var(--color-text-secondary);

  --color-hero-main-surface: var(--color-surface-primary-inverse);
  --color-hero-main-text: var(--color-text-primary-inverse);

  --color-hero-about-surface: var(--color-surface-primary-inverse);
  --color-hero-about-text: var(--color-text-primary-inverse);

  --color-cta-surface: var(--color-surface-primary-inverse);
  --color-cta-text: var(--color-text-primary-inverse);

  --color-kp-surface: var(--color-surface-primary-inverse);
  --color-kp-text: var(--color-text-primary-inverse);

  --color-header-surface: var(--color-surface-primary);
  --color-header-text: var(--color-text-primary);

  --color-footer-top-surface: var(--color-surface-primary);
  --color-footer-top-text: var(--color-text-primary);
  --color-footer-bottom-surface: var(--color-surface-primary);
  --color-footer-bottom-text: var(--color-text-primary);

  --color-appskilla-surface: hsla(0, 0%, 100%, 1);
  --color-appskilla-text: var(--color-text-primary);
  --color-appskilla-border: transparent;

  --color-button-accent-surface: var(--color-button-surface-accent);
  --color-button-accent-text: var(--color-text-primary-inverse);
  --color-button-accent-border: var(--color-button-surface-accent);
  --color-button-accent-surface_hover: color-mix(in oklab, var(--color-button-surface-accent), #fff 15%);
  --color-button-accent-text_hover: var(--color-text-primary-inverse);
  --color-button-accent-border_hover: color-mix(in oklab, var(--color-button-surface-accent), #fff 15%);

  /* --color-button-accent-inverse-surface: var(--color-button-surface-accent);
  --color-button-accent-inverse-text: var(--color-text-primary);
  --color-button-accent-inverse-border: var(--color-button-surface-accent);
  --color-button-accent-inverse-surface_hover: var(
    --color-button-surface-accent-inverse
  );
  --color-button-accent-inverse-text_hover: var(--color-text-primary);
  --color-button-accent-inverse-border_hover: var(
    --color-button-surface-accent-inverse
  ); */

  --color-button-primary-surface: var(--color-button-surface-primary);
  --color-button-primary-text: var(--color-text-primary-inverse);
  --color-button-primary-border: var(--color-button-surface-primary);
  --color-button-primary-surface_hover: var(--color-button-surface-accent);
  --color-button-primary-text_hover: var(--color-text-primary);
  --color-button-primary-border_hover: var(--color-button-surface-accent);

  /* --color-button-primary-inverse-surface: var(--color-surface-primary);
  --color-button-primary-inverse-text: var(--color-text-primary);
  --color-button-primary-inverse-border: var(--color-surface-primary);
  --color-button-primary-inverse-surface_hover: var(
    --color-button-surface-accent-inverse
  );
  --color-button-primary-inverse-text_hover: var(--color-text-primary);
  --color-button-primary-inverse-border_hover: var(
    --color-button-surface-accent-inverse
  ); */

  --color-button-secondary-surface: var(--color-surface-primary);
  --color-button-secondary-text: var(--color-text-primary);
  --color-button-secondary-border: var(--color-button-border);
  --color-button-secondary-surface_hover: var(--color-button-surface-primary);
  --color-button-secondary-text_hover: var(--color-text-primary-inverse);
  --color-button-secondary-border_hover: var(--color-button-surface-primary);

  /* --color-button-secondary-inverse-surface: transparent;
  --color-button-secondary-inverse-text: var(--color-text-primary-inverse);
  --color-button-secondary-inverse-border: var(--color-button-border-inverse);
  --color-button-secondary-inverse-surface_hover: var(--color-surface-primary);
  --color-button-secondary-inverse-text_hover: var(--color-text-primary);
  --color-button-secondary-inverse-border_hover: var(--color-surface-primary); */
}